body {
    background-color: #000;
}

span {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
}

.holder {
    color: #808080;
}

.value {
    color: #fff;
}

#follower-count-holder {
    margin-left: 2em;
}