@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body {
    background-color: #000;
    font-family: 'Racing Sans One', 'Arial', sans-serif;
    font-size: 1.6em;
}