body {
    background-color: #000;
}

span {
    font-family: 'Arial', sans-serif;
    font-size: 1.6em;
}

.holder {
    color: #808080;
    margin-right: 2em;
}

.holder:last-child {
    margin-right: 0;
}

.value {
    color: #fff;
}